//
// Let's add some sensible defaults.
// ---------------------------------------------------


html,
*:after,
*:before,
button,
input,
textarea {
  -webkit-font-smoothing: antialiased; // Anti-Aliasing on Chrome/Safari mac.
}

html {
  box-sizing:border-box;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: .3s all;
}

// .page-template-page-edit-profile added to overwrite styles on edit-profile page
// inherited from wp-admin stylesheet
body,
body.page-template-page-edit-profile {
  background-color: #f7f7f7;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $color-font-base;
  line-height: 1.4;
  margin-top: 73px;
  position: relative;
  height: 100%;
  width: 100%;
  @include media(portable){
    margin-top: 0;
  }
}

body.page-template-page-edit-profile p{
  font-size: $font-size-base;  
}

.container {
  @extend %clearfix;
  margin: 0 auto;
  max-width: $max-page-width;
  padding-left: $spacing/2;
  padding-right: $spacing/2;

  @include media(lap-and-up) {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

img {
  height: auto;
  max-width: 100%;
}

hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
hr {
  margin-bottom: $spacing;
  margin-top: 0;
}

// Remove Link styling.
a { 
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-dark;
  }
}


// Add proper link styling with this, when outside e.g. a content area
.link {
  border-bottom: 1px dotted $color-primary;
  color: $color-primary;
  transition: 
    background-color $time-fast,
    color $time-fast;

  &:hover {
    border-color: $color-dark;
    border-bottom-style:solid ;
  }
}

// Use this to define an area where we need proper link styles, e.g content area or footer.
.has-link-style {
  a {
    @extend .link;
  }
}

.page-content{
  padding-right: 4em;
  @include media(portable) {
    padding-right: $spacing;
  }
}

.background-light{
  background-color: #f7f7f7;
}
 hr{
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-top: 1px solid #CCC;
  border-left: none;
  border-right: none;
 }