
// Base Spacing Unit
$spacing: 1.3rem;

// Widths
$max-page-width: 1100px;

// Radius
$radius-base: 3px;
$radius-large: $radius-base * 1.75;
$radius-small: $radius-base / 2;

// Time
$time-slow: .5s;
$time-fast: .1s;

