.cookie-container{
	display: none;
	padding: 1em;
	position: fixed;
	bottom:0;
	width:100%;
}
.toggle-cookie-text{}
.cookie-text-container{
	margin: 0 auto;
	max-width: 60em;
}
.cookie-text-inner-container{
	padding: $spacing*1.5 $spacing;
	position: relative;
}
.cookie-close-btn{
	color:$color-error;
	position: absolute;
	top:$spacing/2;
	right:$spacing/2;
	&:before{
		border:1px solid $color-error;
		border-radius:50%;
		content:"×";
		display: inline-block;
		height: 1em;
		line-height: .8em;
		margin-right: 5px;
		text-align: center;
		width: 1em;
	}
}
.cookie-box-content{}
.cookie-box-footer{
	margin-top: $spacing/2;
}